/*
    Jordan Ashe, Aedin Richardson, Bentley Herbstritt
    Started on: 3/26/26
    styles.css

    This file's purpose is to access styles and change formatting of the website. 
    Ok this is going to sound weird but I kinda like the idea of the color scheme being blues, whites, and reds, but not in like an america way in like-
    an Imagination Movers kinda way? Lots of blues and whites with a splash of red here and there (maybe as the link color?).
    Ok maybe a bit of yellow also to fit in with the logo. 
    If you have other ideas I'm open. 
    Here is the link for the actual Happy Factory's website if you want to get some inspiration: https://www.happyfactory.org/

    right now I am using these colors:
    Footer/Header Blue - #0a122c
    Link Red - #c4002e
    darker blue for the dropdown menu - #03050c

    but feel free to add to the list! -Jordan
*/

@import url('https://googleapis.com');

/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General Styles for Mobile*/
#desktop-nav{
    background-color: #0a122c;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    display: none;
    text-align: center;
    font-size: 1.5em;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline;
    margin: 1em;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    list-style-type: none;
}

#mobile-nav{
    display: block;
    background-color: #0a122c;
    color: white;
    padding-left: 5em;
    padding-bottom: 1em;
    padding-right: 5em;
    padding-top: 1em;
}

.burgerMenu{
    cursor: pointer;
    float: right;
    right:0;
    top:0;
    font-size: 2em;
}

#navLinks{
    display: none;
    background-color: #03050c;
}

#navLinks a{
    display: block;
    margin: 0.5em;
    font-size: 3em;
}

#currentPage{
    color: #c4002e;
}

header{
    background-color: #0a122c;
    color: white;
    padding: 2em;
    text-align: center;
}

main{
    font-size:1.5em;
    padding: 5%;
    text-align: center;
}

main a{
    color: #c4002e;
    text-decoration: none;
}

/* Styles for index page, mainly changing fonts*/
main h1{
    margin-bottom: 0.5em;
    font-family: "Comic Relief", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main h2{
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-family: "Irish Grover", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main p{
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main .kidsSlide{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

main .founders{
    margin: 0 auto;
}

main .about1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2em;
    padding: 2em;
    font-size:1em;
}

main .about2 {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 2em;
    padding: 2em;
    font-size:1em;
}

/*So that JS plays nice :)*/
#storyDetails1, #storyDetails2, #storyDetailsOne, #storyDetailsTwo, #storyDetailsThree, #storyDetailsFour, #storyDetailsFive, #storyDetailsSix, #storyDetailsSeven, #storyDetailsEight{
    display: none;
}

 #storyDetails3{
    text-align: center;
    display: none;
 }

 /*hr break padding*/
 main hr{
    margin: 2em 0;
 }

footer{
    background-color: #0a122c;
    padding: 5em;
    display: flex;
    justify-content: center;
}

footer div{
    margin: 1em;
    color: white;
    text-align: center;
}

footer div a{
    display: inline-block;
    margin: 0.5em;
}

/*Media Queries for Desktop/Large Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    main{
        padding: 5em;
    }
    
    #desktop-nav{
        display: block;
    }

    #mobile-nav{
        display: none;
    }
}

/*Media Queries for Large Desktops*/
@media (min-width: 1024px) {
    main{
        padding: 5em;
    }

    #desktop-nav{
        display: block;
    }

    #mobile-nav{
        display: none;
    }
}
